<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title Demo</title>
</head>
<body>

<a href="{{ url_for("show_next") }}">go to next page</a>

<h1>{{ headline }}</h1>

{% if ny %}
    <h3>happy new year</h3>
{% else %}
    <h3>no new year</h3>
{% endif %}

<ol>
    {% for name in names %}
        <li>name is {{ name }}</li>
    {% endfor %}
</ol>

<h2>An Unordered HTML List</h2>

<ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ul>

<h2>An Ordered HTML List</h2>

<ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ol>

</body>
</html>